/* Responsive
-------------------------------------------------- */

/****** BREAKPOINTS ******
small = 576px;
medium = 768px;
large = 992px;
x-large = 1200px;
*************************/

/* Large
-------------------------------------------------- */

@media only screen and (max-width: 992px) {
    html {
        font-size: 80%
    }
    #course {
        display: flex;
        flex-direction: column;
        margin: initial;
        padding: initial;
    }
    ul.grey500>li {
        padding-right: 6%;
    }
    .dateItem {
        display: flex;
        flex-direction: row;
        text-decoration: solid;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    div.dateItem p {
        width: 50%;
    }
    .bulletDate {
        margin-bottom: 2%;
        width: 90%;
    }
    .bullet1, .bullet2 {
        width: 7%;
        margin-top: 0;
    }
    .etdItem {
        padding-left: 9%;
        width: 91%;
    }
    div.edtItem p {
        width: 45%;
    }
    .entity {
        margin-bottom: 0;
    }
    /* Education */
    .itemEducation {
        display: flex;
        flex-direction: column;
    }
    /* Professional Experience */
    .itemProExpe {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        padding-bottom: 3%;
    }
}

/* Small and medium
-------------------------------------------------- */

@media only screen and (max-width: 767px) {
    /* For all page
    -------------------------------------------------- */
    html {
        font-size: 75%
    }
    #container {
        margin: auto;
    }
    .marTop {
        margin-top: initial;
        padding-top: initial;
    }
    .titleInfosPerso {
        margin: 0;
    }
    /* Header
    -------------------------------------------------- */
    #pictureTitle {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #picture {
        width: 100%;
        background-color: #fafafa;
    }
    .myPicture {
        border: solid 3px #CE93D8;
    }
    #titleJob {
        width: 100%;
        background-color: #fafafa;
        /* text-align: center; */
    }
    #title {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .firstName {
        color: #CE93D8;
        font-weight: 300;
    }
    #job {
        margin-top: initial;
        margin-bottom: initial;
        text-align: center;
        padding: 0% 0% 3% 0%;
    }
    /* Part left Personnal Informations
-------------------------------------------------- */
    /* Hobbies */
    .iconHobbies {
        height: max-content;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: initial;
    }
    .cercle {
        padding: 3%;
        font-size: 3rem;
    }
    #persoCourse {
        display: flex;
        flex-direction: column;
    }
    #infosPerso {
        width: 100%;
    }
    /* Part right Course
-------------------------------------------------- */
    #course {
        display: flex;
        flex-direction: column;
        margin: initial;
        padding: initial;
        width: 100%;
    }
    .titleCourse {
        padding-top: 6%;
        padding-left: 0;
        padding-right: 0%;
        font-size: 1.5rem;
    }
    .line {
        padding: 1% 0 0 0;
        margin-right: 0;
    }
    ul.grey500>li {
        padding: 0;
    }
    .dateItem {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        text-align: left;
    }
    .bullet1, .bullet2 {
        text-align: left;
        margin-top: 2%;
    }
    .bulletDate {
        width: 85%;
        margin-bottom: 2%;
        padding-left: 6%
    }
    div.dateItem p {
        width: 100%;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .etdItem {
        width: 88%;
        padding-right: 6%;
        padding-left: 6%;
    }
    div.etdItem p {
        padding-right: 6%;
    }
    /* Education */
    .itemEducation {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* Professional Experience */
    .itemProExpe {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        padding-bottom: 3%;
    }
    /* Recommendations */
    .recommendation {
        display: flex;
        flex-direction: column;
        margin: initial;
        padding: 0 0 3% 0;
    }
    .itemRecommendations {
        width: 88%;
        padding: 0;
        padding: 0 6% 0 6%;
    }
}