/* All Page
-------------------------------------------------- */

#container {
    color: #616161;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#persoParcours {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.grey500>li {
    padding-right: 10%;
}

/* Margin / Padding */

.marTop {
    margin-top: 0;
    padding-top: 0;
}

.padLR {
    padding-left: 6%;
    padding-right: 6%;
}

/* Colors */

.grey500 {
    color: #9e9e9e;
}

.fondCouleur {
    background-color: #CE93D8;
}

.couleurPrincipale {
    color: #CE93D8;
}

/* Font */

html {
    font-size: 90%;
    background-color: #FAFAFA;
}

.medium {
    font-weight: 500;
}

/* Header picture + title 
-------------------------------------------------- */

#photoTitre {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#photo {
    width: 30%;
}

.photoIdentité {
    display: block;
    border-radius: 50%;
    border: solid 3px #6A1B9A;
    margin: 5% auto 5% auto;
    max-width: 80%;
}

#titre {
    text-transform: uppercase;
    color: #000;
    font-size: 4rem;
    font-weight: 300;
    padding-left: 8%;
    margin-bottom: 0;
}

.prénom {
    font-weight: 500;
}

#titreMétier {
    width: 70%;
    background-color: #FAFAFA;
    display: block;
    margin: auto;
}

#métier {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
}

.lineJob {
    margin-left: 8%;
    border-top: solid 3px #CE93D8;
    width: 45px;
}

/* Part left Personnal Informations
-------------------------------------------------- */

#infosPerso {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
}

.titreInfosPerso {
    text-transform: uppercase;
    text-align: center;
    background-color: #424242;
    font-size: 2rem;
}

/* Contacts */

h4+p {
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
}

/* About me */

#aPropos {
    flex: 1;
}

/* Hobbies */

.cercle {
    border: solid 1px #424242;
    border-radius: 50%;
    padding: 3%;
    color: #424242;
    margin: auto;
    font-size: 3rem;
}

.iconeLoisirs {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 0;
    padding-bottom: 6%;
    font-size: 3rem;
    color: #424242;
}

/* Part right course
-------------------------------------------------- */

/* For all part */

#parcours {
    width: 70%;
    font-size: 1.2rem;
    background-color: #FAFAFA;
}

.titreParcours {
    text-transform: uppercase;
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 9%;
    padding-right: 6%;
    margin-bottom: 2%;
}

.row {
    display: flex;
    flex-direction: row;
}

.line {
    border-top: solid #CE93D8 2px;
    margin-top: -2%;
}

i[class*="couleurPrincipale"] {
    width: 10%;
    text-align: left;
    align-self: center;
}

div.dateItem p {
    margin-bottom: 0;
    margin-top: 0;
}

.entité {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0%;
}

.puceDate {
    width: 35%;
    padding-left: 9%;
}

.dateItem {
    width: 90%;
    text-align: left;
    padding-left: 2%;
}

/*  Entity Title Description */

.etdItem {
    width: 65%;
}

/* Bullet */

.puce1 {
    margin-top: 1%;
    width: 10%;
    text-align: center;
    font-size: 1rem;
}

.puce2 {
    margin-top: 1%;
    width: 10%;
    text-align: center;
    font-size: 1rem;
}

/* Formation */

.itemFormation {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 3%;
}

/* Professional Experience */

.itemExpePro {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 3%;
}

/* Recommendations */

.recommandations {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}

.itemRecommandations {
    width: 50%;
    padding-left: 3%;
}

.titreRecommandations {
    text-transform: uppercase;
}