/* Page */

#container {
    color: #616161;
    font-family: 'Helvetica', 'Arial', 'Roboto', sans-serif;
    /* font-size: 20px; */
}

.couleurPrincipale {
    color: #CE93D8;
}

.fondCouleur {
    background-color: #CE93D8;
}

#persoParcours {
    display: flex;
    flex-direction: row;
}

/* Section photo + titre */

#photoTitre {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#photo {
    width: 30%;
}

.photoIdentité {
    display: block;
    border-radius: 50%;
    border: solid 3px #6A1B9A;
    margin: 2% auto 2% auto;

}

#titre {
    text-transform: uppercase;
    color: #000;
    /*font-size: 1em;*/
}

#titreMétier {
    width: 70%;
}

/* Partie gauche Infos perso */

#infosPerso {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.titreInfosPerso {
    text-transform: uppercase;
    text-align: center;
    background-color: #424242;
}

#aPropos {
    flex: 1;
}

#loisirs {
    
}

.cercle {
    border: solid 1px #424242;
    border-radius: 50%;
    padding: 5%;
    color: #424242;
    margin: auto;
    font-size: 40px;
}

.iconeLoisirs {
    display: flex;
    justify-content: space-around;
    margin: 2% 20% 2% 20%;
    
    /* flex-wrap: wrap;
	margin-bottom: 5%; */
}

/* Partie droite Parcours */

#parcours {
    width: 70%;
}

.titreParcours {
    text-transform: uppercase;
    color: #000000;
}

.entité {
    text-transform: uppercase;
}

.dateItem {
    width: 30%;
    text-align: center;
}

.etdItem {
    /*  Entité Titre Description */
    width: 70%;
}

/* Formation */

.itemFormation {
    display: flex;
    flex-direction: row;
}

/* Exp Pro */

.itemExpePro {
    display: flex;
    flex-direction: row;
}

/* Recommandations */

.recommandations {
    display: flex;
    flex-direction: row;
}

.itemRecommandations {
    width: 50%;
}