/* All Page
-------------------------------------------------- */

#container {
    /* grey n°700 material design */
    color: #616161;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#persoCourse {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.grey500>li {
    padding-right: 10%;
}

/* Margin / Padding */

.marTop {
    margin-top: 0;
    padding-top: 0;
}

.padLR {
    padding-left: 6%;
    padding-right: 6%;
}

/* Colors */

.grey500 {
    /* grey n°500 material design */
    color: #9e9e9e;
}

.backgroundColor {
    /* purple n°200 material design */
    background-color: #CE93D8;
}

.mainColor {
    /* purple n°200 material design */
    color: #CE93D8;
}

/* Font */

html {
    font-size: 90%;
    /* grey n°50 material design */
    background-color: #FAFAFA;
}

.medium {
    /* Roboto medium */
    font-weight: 500;
}

/* Header picture + title 
-------------------------------------------------- */

#pictureTitle {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#picture {
    width: 30%;
}

.myPicture {
    display: block;
    border-radius: 50%;
    /* purple n°600 material design */
    border: solid 3px #8E24AA;
    margin: 5% auto 5% auto;
    max-width: 80%;
}

#title {
    text-transform: uppercase;
    /* black */
    color: #000000;
    font-size: 4rem;
    /* Roboto light */
    font-weight: 300;
    padding-left: 6%;
    margin-bottom: 0;
    margin-top: 0;
}

.firstName {
    /* Robot medium */
    font-weight: 500;
}

#titleJob {
    width: 70%;
    /* grey n°50 material design */
    background-color: #FAFAFA;
    display: block;
    margin: auto;
}

#job {
    font-size: 2rem;
    /* Roboto medium */
    font-weight: 500;
    padding-left: 6%;
    margin-top: 0;
    margin-bottom: 0;
}

.s-line {
    /* purple n°200 material design */
    border-bottom: solid 2px #CE93D8;
}

/* Part left Personnal Informations
-------------------------------------------------- */

#infosPerso {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.2rem;
}

.titleInfosPerso {
    text-transform: uppercase;
    text-align: center;
    /* grey n°800 material design */
    background-color: #424242;
    font-size: 2rem;
}

/* Contacts */

h4+p {
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
}

/* About me */

#about {
    flex: 1;
}

/* Hobbies */

.cercle {
    /* grey n°800 material design */
    border: solid 1px #424242;
    border-radius: 50%;
    padding: 5%;
    /* grey n°800 material design */
    color: #424242;
    margin: auto;
    font-size: 3rem;
    width: fit-content;
    /* Fix display bug for iconhobbies in Chrome */
    height: fit-content;
    /* Fix display bug for iconhobbies in Chrome */
}

.iconHobbies {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 0;
    padding-bottom: 6%;
    font-size: 3rem;
    /* grey n°800 material design */
    color: #424242;
}

/* Part right course
-------------------------------------------------- */

/* For all part course */

#course {
    width: 70%;
    font-size: 1.2rem;
    /* grey n°50 material design */
    background-color: #FAFAFA;
}

.titleCourse {
    text-transform: uppercase;
    color: #000000;
    font-size: 2rem;
    /* Roboto bold */
    font-weight: 700;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 2%;
}

.row {
    display: flex;
    flex-direction: row;
}

.line {
    /* purple n°200 material design */
    border-top: solid #CE93D8 2px;
    margin-top: -2%;
}

i[class*="mainColor"] {
    width: 10%;
    text-align: left;
    align-self: center;
}

div.dateItem p {
    margin-bottom: 0;
    margin-top: 0;
}

.entity {
    text-transform: uppercase;
    font-size: 1.5rem;
    /* Roboto medium */
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 2%;
}

.bulletDate {
    width: 35%;
    padding-left: 6%;
}

.dateItem {
    width: 90%;
    text-align: left;
    padding-left: 2%;
}

/*  Entity Title Description */

.etdItem {
    width: 65%;
}

/* Bullet */

.bullet1, .bullet2 {
    margin-top: 1%;
    width: 10%;
    text-align: left;
    font-size: 1rem;
}

/* Education and Professional Experience */

.itemEducation, .itemProExpe {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 3%;
}

/* Recommendations */

.recommendation {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
}

.itemRecommendations {
    width: 50%;
    padding-left: 3%;
}

div.itemRecommendations p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.titleRecommendations {
    text-transform: uppercase;
}